body {
	background-color: #000;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: "Moirai One", cursive;
	font-family: "Orbitron", sans-serif;
	font-family: "Roboto Mono", monospace;
	color:#fff;
}

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.text-cont{
	padding-top: 7rem;
    font-size: 2rem;
}
.clock-com{
	padding: 1rem 0.5rem;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clock-container{
	border: 1px solid black;
	display: flex;
}